.header-name {
  margin-left: auto;
  margin-right: 15px;
  .image{
    width: 25px;
  }
  h4 {
    font-size: 16px;
    display: inline-block;
    margin-left: 10px;
  }
  .form-group {
    flex-direction: row-reverse;
  }
  .invalid-feedback {
        width: auto;
    margin-right: 5px;
  }
}

